@page
@model UniversityReservations.Pages.Reservations.DetailsModel
@{
    ViewData["Title"] = "Reservation Details";
}

<h2>Reservation Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Lecturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Lecturer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.LectureHall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.LectureHall.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Purpose)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservation.Id" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
