@page
@model UniversityReservations.Pages.Lecturers.DetailsModel
@{
    ViewData["Title"] = "Lecturer Details";
}

<h2>Lecturer Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.Subject.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lecturer.Id" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>